'.source.flatbuffers':
  'Enum':
    prefix: 'enum'
    body:  'enum $1 : ${2:byte} {\n\t$3\n}'
  'Union':
    prefix: 'union'
    body:  'union $1 {\n\t$2\n}'
  'Table':
    prefix: 'table'
    body:  'table $1 {\n\t$2\n}'
  'Struct':
    prefix: 'struct'
    body:  'struct $1 {\n\t$2\n}'
  'Include':
    prefix: 'include'
    body:  'include "$1.${2:fbs}";'
  'Attribute':
    prefix: 'attribute'
    body:  'attribute "$1";'
  'FileIdentifier':
    prefix: 'file_identifier'
    body:  'file_identifier "$1";'
  'FileExtension':
    prefix: 'file_extension'
    body:  'file_extension "$1";'
  'Namespace':
    prefix: 'namespace'
    body:  'namespace $1;'
  'RootType':
    prefix: 'root_type'
    body:  'root_type $1;'
