'.source.flatbuffers':
  'Enum':
    prefix: 'enum'
    body:  'enum $1 : ${2:byte} {\n\t$3\n}'
  'Union':
    prefix: 'union'
    body:  'union $1 {\n\t$2\n}'
  'Table':
    prefix: 'table'
    body:  'table $1 {\n\t$2\n}'
  'Struct':
    prefix: 'struct'
    body:  'struct $1 {\n\t$2\n}'
  'Include':
    prefix: 'include'
    body:  'include "$1.${2:fbs}";'
  'Attribute':
    prefix: 'attribute'
    body:  'attribute "$1";'
